# Это пример файла htpasswd для Docker Registry.
# Создайте свой файл с помощью команды:
# htpasswd -Bc auth/htpasswd <username>
# Затем введите пароль.

# Пример (пользователь admin, пароль admin):
admin:$2y$05$UuE.Q.IeX8iBwO8K/m6UHev/3oR3U8C/A0K0K0K0K0K0K0K0K0K0K
